<div class="card mb-1">
	<div class="card-body p-1 text-center">
    <%= comment.body %>
	</div>
  <div class="card-footer text-center py-0 d-flex justify-content-between">
    <div>
      by: <em><%= comment.name %></em>
    </div>
    <div>
      <%= time_ago_in_words(comment.created_at) %> ago
    </div>
  </div>
</div>
