<div class="container pt-2 pb-5">
	<h1 class="text-center text-dark">Articles Listing Page</h1>

   <div class="flickr_pagination">
    <div class="page_info mb-2">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, container: false %> <%#, page_links: false %>
  </div>
  
  <%= render "article"%>

   <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %> <%#, page_links: false %>
  </div>
</div>
  