<div class="container mt-2"> 
  <h4 class="text-center text-dark">Sign Up for My Blogs</h4>
  <%= render "form" %>
  <div class="mt-2 text-center">
    Already have an account? <%= link_to "Login! here", login_path, class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>