<div class="container p-2">

  <h4 class="text-center text-dark"><%= @user.username %>'s Profile</h4>

  <%= gravatar_for @user, size: 150 %>

  <h4 class="text-center text-dark mt-2">Articles</h4>

  <%= render "articles/article" %>
</div>

<%# define gravatar_for in app/helpers %>